* {
  background-color: rgb(174, 247, 222);
}

h1 {
  text-align: center;
  color: cornflowerblue;
  width: 100%;
}

section{
  display: inline-block;
}


.row{
  display: flex;
  flex-wrap: nowrap;
  width: 30%;
  text-align: center;
}

.dragon{
  width: 250px;
}

.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}



button{
  background-color: azure;
}



.form-group{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 3px;
  
}



.newForm{
  margin-left: 25px;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: cornflowerblue;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

.editbutton{
  color: rgb(174, 247, 222);
  width: 10px;
}

hr{
  width: 5000px;
}

main{
  text-align: center;
  padding-left: 26%;
}

.border{
  
}